.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.product-card {
  display: block;
  max-width: auto;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.product-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

.product-description {
  font-size: 1rem;
  color: #4b5563;
}
.product-card-footer {
  display: flex;
  justify-content: space-between;
}

.product-card-footer p {
  font-size: 25px;
  font-weight: 600;
}

.add-to-cart-button {
  display: inline-block;
  height: 50px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}
